ul.navigation {
    overflow: hidden;
    text-align: center;
}

ul.navigation li {
    display: inline;
    overflow: hidden;
    padding: 0 6px;
}

ul.navigation li a {
    font-family: Lato, Arial, Tahoma, Helvetica;
    font-size: 12px;
    text-transform: uppercase;
}